<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marrek</title>
</head>

<body>

    <h1>Menu</h1>

    <a href="http://www.spseol.cz/">škola</a>
    <a href="/">root</a>
    <a href="/abc">abc</a>

    <h1>Data</h1>

    {% block obsah %}
    
    ahoj
    
    {% endblock obsah %}



</body>

</html>